body{
	font-family: $fuente-sans-serif;
}
nav{
	background-color: transparent;
	position: absolute;
    top: 0px;
    z-index: 1000;
    border: transparent;
    padding: 0 40px;
    box-shadow:none;

    .brand-logo{
    	font-size: 20px
    }
    ul{
        a{
    		font-size: 10px;
        }
    }
    .btn{
    	font-size: 10px;
    	background-color: $color-primario;
    }
}
.slider{
	.slides {
		height: 80vh !important;
	}
}

.slider {
	.slides {
		h3{
			font-size: 60px;
			font-weight: 900;
			padding-top: 80px;
		}
	}
}

.slider{ 
	.slides{ 
		h5{
			font-size: 20px;
			font-family: $fuente-serif;
		}
		.btn{
			margin-top: 20px;
			padding: 20px;
			@include botones();
		}
	}
}

.seccion-central{
	z-index: 9000;
	position: relative;
	background-color: #fff;
	border-radius: 10px;
	height: 800px;
	margin: 0 40px;
}

.seccion-uno{
	padding: 80px 0;
	@include texto-parrafo-uno();
	h4{
		@include texto-titulos();
	}
	.uno{
		color: $color-primario;
	}
	.dos{
		color: $color-secundario;
	}
	.tres{
		color: $color-terciario;
	}
}