body{
	font-family: $fuente-sans-serif;
}
nav{
	background-color: transparent;
	position: absolute;
    top: 0px;
    z-index: 1000;
    border: transparent;
    padding: 0 40px;
    box-shadow:none;

    .brand-logo{
    	font-size: 20px
    }
    ul{
        a{
    		font-size: 10px;
        }
    }
    .btn{
    	font-size: 10px;
    	background-color: $color-primario;
    }
}
.slider{
	.slides {
		height: 80vh !important;
	}
}

.slider {
	.slides {
		h3{
			font-size: 60px;
			font-weight: 900;
			padding-top: 80px;
		}
	}
}

.slider{ 
	.slides{ 
		h5{
			font-size: 20px;
			font-family: $fuente-serif;
		}
		.btn{
			margin-top: 20px;
			padding: 20px;
			@include botones();
		}
	}
}

.seccion-central{
	z-index: 9000;
	position: relative;
	background-color: #fff;
	border-radius: 10px;
	height: auto;
	margin: 0 40px;
}

.seccion-uno{
	@include container-esp();
	h4{
		@include texto-titulos();
	}
	p{
		color: $color-texto-primario;
		text-align: center;
		font-size: 15px;
		font-weight: 300;
	}
	.uno{
		color: $color-primario;
	}
	.dos{
		color: $color-secundario;
	}
	.tres{
		color: $color-terciario;
	}
}
.seccion-dos{
	@include container-fondo();
		background: url('../assets/img/img_city.jpg');
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
	img{
		width: 100%;
	}
	.row {
		.col.s12{
			margin: 0 auto;
			padding-top: 30px;
			text-align: center;
		}
	}
}

.seccion-tres{
	@include seccion-gris();
	.z-depth-2{
		background-color: #fff;
		border-radius: 10px;
		max-width: 310px;
		margin: 60px 30px 10px;
		.row{
			img{
					width: 100%;
					margin: 0 auto;
					padding: 0;
					text-align: center;
					margin-top: -40px;
			}
		}
	}
	.z-depth-2:last-child{
		margin: 60px 0;
	}

	h6{
		color: $color-primario;
		font-size: 14px;
		padding: 10px;
	}
	h5{
		@include texto-titulos();
	}
	.s6{
		p{
			color: $color-esp-titulos;
			text-align: left;
			font-size: 20px;
			margin: 10px 0px;
		}
		i{
			float: right;
			margin: 10px 0px;
			color: $color-texto-primario;
		}
	}
}

.seccion-cuatro{
	@include textos();
	@include container-esp();
	img{
		width: 100%;
		border-radius: 10px;
	}
}
.seccion-cinco{
	@include textos();
	@include container-esp();
	.s12{
		margin-bottom: 40px;
	}
	.s6{
		text-align: left;
	}
	img{
		width: 100%;
		border-radius: 5px;
	}
	h5{
		@include texto-titulos();
	}
	ul{
		li{
			display: inline-block;
			padding: 40px 10px;
			i{
				font-size: 16px;
			}
		}
	}
	h6{
		color: #777777;
	}
	.fa-facebook{
		color: #3B5998;
	}
	.fa-twitter{
		color: #55ACEE;
	}
	.fa-linkedin{
		color: #0976B4;
	}
	.fa-github-square{
		color: #333333;
	}
	.fa-dribbble{
		color: #EA4C89;
	}
	.fa-pinterest{
		color: #CC2127;
	}
	.fa-google-plus{
		color: #DD4B39;
	}
}

.seccion-seis{
	@include textos();
	@include seccion-gris();
	.texts{
		text-align: left;
		padding-right: 50px;
		h1{
			text-align: left;
			padding-right: 50px;
		}
	}

	.z-depth-2{
		background-color: #fff;
		border-radius: 10px;
	}
	.buy{
		height: auto;
		padding: 40px 70px;
		margin: 0 40px;
		max-width: 350px;
		h3{
			color: $color-esp-titulos;
			font-weight: 900;
			sub{
				color: $color-texto-primario;
				font-size: 20px;
				font-weight: 300;
				font-family: $fuente-serif;
			}
			sup{
				top: -8px;
				font-size: 25px;
				color: $color-texto-primario;
				font-family: $fuente-serif;
			}
		}
		p{
			border-bottom: 1px solid $color-texto-primario;
			padding: 5px 0;
			span{
				color: $color-esp-titulos;
				font-weight: 900;
			}
		}
		p:last-of-type {
    			border-bottom: none;
			}
	}

	.btn{
		@include botones();
		padding: 0px 30px;
	}
}