body{
	font-family: $fuente-sans-serif;
	background-color: #E1E1E1;
}
nav{
	background-color: transparent;
	position: absolute;
    top: 0px;
    z-index: 1000;
    border: transparent;
    padding: 0 40px;
    box-shadow:none;
    .brand-logo{
    	font-size: 20px
    }
    ul{
        a{
    		font-size: 10px;
        }
    }
    .btn{
    	font-size: 10px;
    	background-color: $color-primario;
    }
}
.slider{
	.slides {
		height: 80vh !important;
	}
}

.slider {
	.slides {
		h3{
			font-size: 60px;
			font-weight: 900;
			padding-top: 80px;
		}
	}
}
.slider{ 
	.slides{ 
		h5{
			font-size: 20px;
			font-family: $fuente-serif;
		}
		.btn{
			margin-top: 20px;
			padding: 20px;
			@include botones();
		}
	}
}

.seccion-central{
	z-index: 9000;
	position: relative;
	background-color: #fff;
	border-radius: 10px;
	height: auto;
	margin: 0 40px;
}

.responsive{
	@include container-esp();
	h4{
		@include texto-titulos();
	}
	p{
		color: $color-texto-primario;
		text-align: center;
		font-size: 15px;
		font-weight: 300;
	}
	.uno{
		color: $color-primario;
	}
	.dos{
		color: $color-secundario;
	}
	.tres{
		color: $color-terciario;
	}
}
.now{
	@include container-fondo();
	background: url('../assets/img/img_city.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 1000px;
	.fondo{
		padding: 50px 50px 10px;
	}
	img{
		width: 100%;
	}
	.row {
		.col.s12{
			margin: 0 auto;
			padding-top: 30px;
			text-align: center;
		}
	}
}

.products{
	@include seccion-gris();
	.z-depth-2{
		background-color: #fff;
		border-radius: 10px;
		max-width: 310px;
		margin: 60px 30px 10px;
		.row{
			img{
				width: 100%;
				margin: 0 auto;
				padding: 0;
				text-align: center;
				margin-top: -40px;
			}
			img:hover{
				margin-top: -80px;
			}
		}
	}
	.z-depth-2:last-child{
		margin: 60px 0;
	}

	h6{
		color: $color-primario;
		font-size: 14px;
		padding: 10px;
	}
	h5{
		@include texto-titulos();
	}
	.s6{
		p{
			color: $color-esp-titulos;
			text-align: left;
			font-size: 20px;
			margin: 10px 0px;
		}
		i{
			float: right;
			margin: 10px 0px;
			color: $color-texto-primario;
		}
	}
}

.portfolio{
	@include textos();
	@include container-esp();
	img{
		width: 100%;
		border-radius: 10px;
	}
	.image-hover-text-container 
	{
	  position: relative;
	  display: inline-block;
	  width: 100%;

	  transition: all 0.2s linear;
	}

	.image-hover-image 
	{
	 display: block;
	}

	.image-hover-text 
	{
	  position: absolute;
	  top: 0;
	  width: 100%;  
	  height: 98.5%;
	  margin: 0 auto;
	  opacity: 0;
	  cursor: default;
	  transition: opacity 0.2s linear;
	}
	.image-hover-text:hover 
	{
	  opacity: 1;
	}


	.image-hover-text-bubble 
	{
	  position: relative;
	  box-sizing: border-box;
	  top: 0; left: 0; right: 100%;
	  height: 100%;
	  text-align: center;
	  background: rgba(0, 0, 0, 0.596078431372549);
	  border-radius: 0%;
	  margin: 0 auto;
	  padding: 30% 0px;
	  overflow: hidden;
	  font-size: 17px;
	  text-align: center;
	  word-wrap: break-word;
	  border-radius: 10px;
	}

	.image-hover-text .image-hover-text-title
	{
	  font-size: 25px;
	  display: block;
	  h5{
	  	  color: #fff;
	  }
	}
	.btn{
		border-radius: 40px;
	}
	.rosa{
		background-color: $color-primario;
	}
	.calipso{
		background-color: $color-secundario;
	}
	.naranja{
		background-color: #f34336;
	}

}
.team{
	@include textos();
	@include container-esp();
	.s12{
		margin-bottom: 40px;
	}
	.s6{
		text-align: left;
	}
	img{
		width: 100%;
		border-radius: 5px;
	}
	ul{
		li{
			display: inline-block;
			padding: 40px 10px;
			i{
				font-size: 16px;
			}
		}
	}

	.fa-facebook{
		color: #3B5998;
	}
	.fa-twitter{
		color: #55ACEE;
	}
	.fa-linkedin{
		color: #0976B4;
	}
	.fa-github-square{
		color: #333333;
	}
	.fa-dribbble{
		color: #EA4C89;
	}
	.fa-pinterest{
		color: #CC2127;
	}
	.fa-google-plus{
		color: #DD4B39;
	}
}

.choose-plan{
	@include textos();
	@include seccion-gris();
	.texts{
		text-align: left;
		padding-right: 50px;
		h1{
			text-align: left;
			padding-right: 50px;
		}
	}

	.z-depth-4{
		background-color: #fff;
		border-radius: 10px;
	}
	.buy{
		height: auto;
		padding: 40px 70px;
		margin: 0 40px;
		max-width: 350px;
		h3{
			color: $color-esp-titulos;
			font-weight: 900;
			sub{
				color: $color-texto-primario;
				font-size: 20px;
				font-weight: 300;
				font-family: $fuente-serif;
			}
			sup{
				top: -8px;
				font-size: 25px;
				color: $color-texto-primario;
				font-family: $fuente-serif;
			}
		}
		p{
			border-bottom: 1px solid $color-texto-primario;
			padding: 5px 0;
			span{
				color: $color-esp-titulos;
				font-weight: 900;
			}
		}
		p:last-of-type {
    			border-bottom: none;
			}
	}

	.btn{
		@include botones();
		padding: $boton-plano;
	}
	.btn:hover{
		background-color: $color-secundario;
	}
}
.our-clients{
	@include textos();
	@include container-esp();
	img{
		width: 25%;
		border-radius: 100%;
	}

}
.subscribe{
	@include container-fondo();
	background: url('../assets/img/about.jpg');
	background-size: cover;
	background-position:center top; 
	background-repeat: no-repeat;
	text-align: center;

	height: 350px;

	.z-depth-4{
		@include cambio-inputs();
		margin: 0 auto;
		background-color: #fff;
		max-width: 600px;
		border-radius: 10px;	
		i{
			color: #212121;
			font-size: 20px;
			margin-top: 15px;
		}
		.btn{
			margin-top: 20px;
			@include botones();
			padding: $boton-plano;
		}
        .btn:hover{
			background-color: $color-secundario;
		}
	}
}

.blog{
	@include textos();
	@include container-esp();
	.s4{
		text-align: left;
		img{
			width: 100%;
			border-radius: 10px;
			margin-bottom: 10px;
		}
		.rosa-text{
			color: $color-primario;
		}
		.calipso-text{
			color: $color-secundario;
		}
		.naranja-text{
			color: #f34336;
		}
		a{
			color: $color-esp-titulos;
		}
	}

}
.contact{
	@include container-fondo();
	@include cambio-inputs();
	background: url('../assets/img/img_city.jpg');
	background-size: cover;
	background-position:center top; 
	background-repeat: no-repeat;
	text-align: left;

	height: 650px;
	h6{
		font-family: $fuente-serif;
		font-weight: bold;
		font-size: 20px;
	}
	i{
		font-size: 40px;
	}
	.fondo{
		padding: 80px 50px 10px;
	}
	.z-depth-4{
		border-radius: 5px;
	}
	.contat-input{
		background-color: #fff;
		width: 70%;
		padding: 0 20px;
		margin: 0 auto;
		.contact-us{
			background-color: $color-primario;
			text-align: center;
			position: relative;
			top: -20px;
			h4{
				font-size: 25px;
				padding:20px;
			}
		}
	}
	.btn{
		@include botones();
		padding: $boton-plano;
		text-align: left;
		margin-bottom: 40px;
	}
	.btn:hover{
			background-color: $color-secundario;
		}

}
.footer{
	@include container-fondo();
	background-color:#323437;
	padding: 80px 50px 10px;
	.s4{
		h6{
			font-family: $fuente-serif;
			font-weight: bold;
			font-size: 20px;
		}
		p, a{
			color: $color-texto-primario;
			text-align: left;
			font-size: 15px;
			font-weight: 300;
		}
		a{
			font-size: 10px;
			font-weight: 900;
		}
		.s3	{
			padding: 20px 10px;
			img{
				width: 100%;
				border-radius: 5px;
			}
		}
	}
	.nav-footer{
		border-top: 1px solid $color-texto-primario;
		padding-top: 30px;
		ul{
			margin-top: 0;
			li{
				display: inline-block;
				padding: 0 20px;
				color: $color-texto-primario;
			}
			li a:hover{
				color: $color-primario;
			}
		}
		a{
			padding-top: 20px;
			color: $color-texto-primario;
		}
	}
	
}