@mixin container-esp(){
	width: 100%;
	padding: 80px 50px;
	color: $color-texto-primario;
	text-align: center;
	font-size: 15px;
	font-weight: 300;
}
@mixin botones(){
	padding: 10px 25px;
	border-radius: 5px;
	height: auto;
	background-color: $color-primario;
}

@mixin texto-titulos(){
	font-family: $fuente-serif;
	color: $color-esp-titulos;
	font-size: 20px;
	font-weight: bold;
}
@mixin container-fondo(){
	padding: 50px 50px 10px;
	color: #fff;
	width: 100%;
	h4{
		font-family: $fuente-serif;
		font-weight: bold;
		font-size: 40px;
	}
}
@mixin seccion-gris(){
	background-color: #F0F0F0;
	text-align: center;
	padding: 80px 50px;
	h1{
		@include texto-titulos();
		font-size: 40px;
	}
	p{
		color: $color-texto-primario;
		text-align: center;
		font-size: 15px;
		font-weight: 300;
	}

}