$fuente-sans-serif: 'Roboto', sans-serif;
$fuente-serif:'PT Serif', serif;
$color-texto-primario: #a1a1a1;
$color-primario: #e91e63;
$color-secundario: #00bcd4;
$color-terciario: #4caf50;
$color-esp-titulos: #3c4858;;
$boton-plano: 0px 30px;